<div class="container pt-5">

  <div class="text-center" *ngIf="estaCarregando">
    <div class="spinner-border" role="status" *ngIf="estaCarregando"></div>
  </div>

  <div *ngIf="erroNoCarregamento">
    <h2>Deu erro :(</h2>
    <button (click)="carregarContato()">Tentar novamente</button>
  </div>

  <div *ngIf="!estaCarregando && !erroNoCarregamento">

    <form [formGroup]="contatoForm">
      <div class="form-group">
        <label for="nome">Nome: </label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome"
          [class.is-invalid]="exibeErro('nome')">
      </div>

      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf"
          [class.is-invalid]="exibeErro('cpf')">
      </div>

      <div formGroupName="dadosBancarios">

        <div class="form-group">
          <label for="banco">Banco:</label>
          <input type="text" class="form-control" id="banco" placeholder="Banco" formControlName="banco"
            [class.is-invalid]="exibeErro('dadosBancarios.banco')">
        </div>

        <div class="form-group">
          <label for="ag">Agência:</label>
          <input type="text" class="form-control" id="ag" placeholder="Agência" formControlName="ag"
            [class.is-invalid]="exibeErro('dadosBancarios.ag')">
        </div>

        <div class="form-group">
          <label for="cc">Conta corrente:</label>
          <input type="text" class="form-control" id="cc" placeholder="Conta corrente" formControlName="cc"
            [class.is-invalid]="exibeErro('dadosBancarios.cc')">
        </div>

      </div>

      <button class="btn btn-primary m-1" (click)="onSubimit()">
        {{ estaEditando() ? 'Salvar contato' : 'Criar contato' }}
      </button>

      <button class="btn btn-primary m-1" (click)="voltar()">Voltar</button>

    </form>

  </div>

</div>